.Circle{
  z-index: -1;
  width: 35rem;
  height: 35rem;
  border-top-right-radius:0;
  border-top-left-radius:0;
  border-bottom-right-radius:0;
  border-bottom-left-radius:100%;
  background: red;
  top: 0;
  right: 0;
  position: absolute;
  background: #F1F1F1;
}